html {
  height: 100%;
}
body {
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  max-width: 89em;
  min-width: 300px;
  width: auto;
  line-height: 1.4;
  margin: auto;
}

#head {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-family: 'Liberation Serif', serif;
}

.content {
  padding: 20px;
  font-size: 1.8em;
  font-family: 'Liberation Serif', serif;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: black;
  text-align: center;
}

ul {
    display: block;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#head .sections li {
    float: left;
    margin-right: 0.5em;
    margin-top: 0.5em;
}


.button {
background-color: white;
color: black;
border: 2px solid #4CAF50;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left:20px;
font-size: 1.5em;
}

.button:hover {
background-color: green;
color: white;
border: 2px solid #4CAF50;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left:20px;
font-size: 1.5em;
}
.button:active {
background-color: green;
color: white;
border: 2px solid #4CAF50;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left:20px;
font-size: 1.5em;
}

