<section class="section">
    <div class="content container is-medium">
        <p>
            At Intsonic limited we develop ultrasonic devices and solutions.
            You can find out more about our electronics solution on the <a href=/products data-navigo>Products</a> page and follow the developments on the <a href=/news data-navigo>News</a> page.
        </p>
        <p>
            We solve flow measurement challenges of all sizes. Whether it’s beer in a small tube, a 500mm water main, or wind speed at a weather station, we evaluate if ultrasonic technology is the right fit. If it is, we’ll design a custom solution for you.
        </p>

        <p>
            Our experience lies in the following areas:
        </p>
        <ul>
            <li> flow measurement (gas and liquid);</li>
            <li> proximity and level sensing;</li>
            <li> non-destructive testing (including non-contact).</li>
        </ul>
        <p></p>

        <p>
            Specifically, the company activities include:
        </p>
        <ul>
            <li>R&D.</li>
            <li>Licencing our ultrasonic measurement platform and adapting it to the specific application.</li>
            <li>Transducer development, optimization (FEM and other tools) and prototyping.</li>
            <li>Prototyping.</li>
            <li>Low volume assembly/production.</li>
        </ul>

    </th>
    </div>

    <div style="clear: both"></div>

</section>
