<section class="section">
    <div class="content container is-medium">
        <p>
            Intsonic offers application specific ultrasonic transducer design and fabrication, addressing a number of
            areas:
        </p>
        <ul>
            <li> metrology (gas and liquid-coupled);
            </li>
            <li> proximity and level sensing;
            </li>
            <li> non-destructive testing (including non-contact).
            </li>
        </ul>
        <p></p>

        <p>
            Specifically, the company activities include:
        </p>
        <ul>
            <li>consultancy to develop proof of concept setups;
            </li>
            <li>development of complete systems/solutions;
            </li>
            <li>prototype manufacture;
            </li>
            <li>low volume production.
            </li>
        </ul>
        <p></p>


        <p>
            At the moment, our largest areas of expertise are air-coupled ultrasound and metrology.
            <br>
            We also collaborate with other companies to provide full ultrasonic solutions.
        </p>

        <p>
            Currently, we are working to two major projects: a domestic gas meter and a DN50 inline water meter. You can find more about these on the <a href=/news data-navigo>news</a> page or <a href=/contact data-navigo>contact us</a> for details.
        </p>

    </div>
</section>