<section class="section">
    <div class="content container is-medium">
        <p>
            At Intsonic limited we develop ultrasonic devices and solutions.
            You can find out more about our electronics solution on the <a href=/products data-navigo>Products</a> page and follow the developments on the <a href=/news data-navigo>News</a> page.
        </p>
        <tr>
        <th align="right">
        <img src="img/other_photos/NEL_pic.jpeg" style="max-width:40%" align="right"> 
        </th>
        <th align="left">

        <p>
            Our experience lies in the following areas, in the following order:
        </p>
        <ul>
            <li> flow measurement (gas and liquid-coupled);</li>
            <li> proximity and level sensing;</li>
            <li> non-destructive testing (including non-contact).</li>
        </ul>
        <p></p>

        <p>
            Specifically, the company activities include:
        </p>
        <ul>
            <li>transducer optimization (FEM and other tools) and prototyping;</li>
            <li>development of PoCs;</li>
            <li>development of complete systems/solutions;</li>
            <li>low volume production.</li>
        </ul>

    </th>
    </div>

    <div style="clear: both"></div>

</section>
