.<style>
table	{
	  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<section class="section">

<div class="buttons has-addons is-centered">
  <button class="button is-success is-selected">1</button>
  <button class="button" href=/news_page2 data-navigo>2</button>
</div>

<div class="container">
  <h1 class="title">25/01/24: Projects, more projects and electronics</h1>
    <div class="content is-medium">
   		<p> 
   			We have been hard at work on a lot of projects. The first involves drilling mud, second – large water pipes, third – liquid hyrdrocarbons, fourth involves clamp-on transducers. Exciting! But for now, I cannot share any further details.
			</p>
			<p>
				But as we were working on those, we have really put our electronics through it's paces. Which showed us it's capabilities and limitations. And as it turned out, it is quite capabile indeed, so we are putting together licencing agreements for the interested parties.
			</p>
			<p>
				In short, the low-power version of the board runs from 3.5-5V and is primarily intended for battery-powered applications. It can handle up transducers up to 1.5MHz with total insertion loss of up to -60db. The zero-flow drift is generally in the 25-150ps range for liquid-coupled applications, depending on the frequency and total inserion loss. The current version of the board supports multiplexing up to 16 transducers in pitch-catch and pulse-echo configurations. The data is transmitted via a serial connection (RS232/RS485 by default). Configuration is done using the same serial interface, with great flexibility. Powerful cross-correlation based algorithms are performed on the board with plenty of diagnostics data being generated. We are also working on a high-voltage version.
			</p>
			<p>	
				Contact us for a trial.
			</p>
  	</div>
</div>
			<br>

<div class="container">
  <h1 class="title">08/06/23: Patent, plans and other projects</h1>
    <div class="content is-medium">
   		<p> 
     		Long overdue, but we have finally filed a patent on our ultrasonic liquid meter design. In essense, it is what allows the meter body to be produced as one single piece and allows for low assembly complexity. 
			</p>
			<p>
				Secondly, we are headed towards the final calibration stage, this time at a UKAS accredited laboratory. After several upgrades and improvements to our calibration rig we have a good idea of the performance of our meter and we are looking forward to confirming it.
			</p>
			<p>
				Lastly, watch out for future projects from us, as we find more applications to the IP that we have developed.
			</p>
  	</div>
</div>
			<br>


<div class="container">
  <h1 class="title">07/03/23: DN25 prototype ready.</h1>
    <div class="content is-medium">
   		<p> 
     		We have put together a fully 3D-printed DN25 prototype, tested it on the upgraded flow rig. The objective was to demonstrate the flexibility of the technology and the small meter did just that. It has even exceeded our expectations in terms of accuracy.
			</p>
  		<img src="img/meter_photos/DN25_2.png" style="max-width:48%" align="left"> 
  		<img src="img/meter_photos/DN25_1.png" style="max-width:48%" align="right"> 
			<div style="clear: both"></div>
  	</div>
</div>
			<br>


<div class="container">
  <h1 class="title">07/03/23: DN100 sensor assembly.</h1> 
    <div class="content is-medium">
			<p>
				We have contributed to a very exciting project lead by Craig Marshall at Friction Flow Measurement and TÜV SÜD NEL. Together with Nishal Ramadas from Hy-Met ltd we put together a 2-path DN100 ultrasonic sensor. Despite the very limited time we had to work on this we managed to obtain some very reasonable data and are looking forward to introducing further improvements. Additional thanks goes to Konrad Kuczynski for putting measurement system together and getting it to work at the lab. <br>
				Head over to <a href="https://www.tuvsud.com/en-gb/industries/chemical-and-process/flow-measurement/flow-meter-calibration-and-testing">TÜV SÜD flowmeter testing</a> to learn more about the calibration services they provide.
	  		<img src="img/other_photos/NEL_pic.jpeg" style="max-width:96%" align="left"> 
				<div style="clear: both"></div>
			</p>
    </div>
</div>
			<br>

<div class="container">
        <h1 class="title">22/01/23: flow rig upgrades and other sizes</h1>
        <div class="content is-medium">
       	<p> 
       		Last week we added a gravimetric test system to our rig to allow for very accurate calibration of our larger meter sizes at low flowrates. In addition, we will use it to calibrate the upcoming smaller meter prototypes (DN20 preliminarily).
		<p>
			A good, calibrated set of scales is very hard to beat. And having tested a few meters that we were using as reference – I wish we had installed it sooner!
		</p>
        </div>
	    </div>
			<br>

	    <div class="container">
        <h1 class="title">13/10/22: Testing and more testing!</h1>
        <div class="content is-medium">
       	<p> 
       		We got our meter tested by the great team at WRc. Low flow performance is good with repeatability of 0.2-0.7% in the 50-100 l/h range. <b>That indicates that our meters should have a turndown ratio of R400 with R800 as and option instead of the intially predicted R250.</b> That's right, even more accurate measurements of minimal night flows!<br>
       		High flow performance also looking fantastic with excellent repeatability. In fact, the meter performed well all the way up to 70 m<sup>3</sup>/h. A little bit more work is needed to achieve the next Q<sub>3</sub> of 63 m<sup>3</sup>/h as performance at the corresponding Q<sub>4</sub> (78.75 m<sup>3</sup>/h) is not yet stable, however preliminary data suggests that it is achievable. <br>
       		Overall, we are quite pleased with the results and are hoping to fix all the remaining hiccups very quickly.
       	</p>
		<p>
       		Secondly the continued internal tests have allowed us to significantly improve the temperature performance of the meters.<br>
       		Together with the external test results this brings us very close to the end of the testing and I am very much looking forward to demonstrating the full potential of this technology. 
		</p>

        </div>
	    </div>
			<br>

	    <div class="container">
        <h1 class="title">20/08/22: Testing</h1>
        <div class="content is-medium">
       	<p> 
       		We built a new flow rig that has allowed us to do a lot of controlled testing. So far we have established that the meter needs between 20D and 40D upsteam and about 10D downstream to achieve full accuracy, but perhaps the requirements can be relaxed to achieve the ±2% required in the OIML R49 class 2. Repeatability is looking great in the 0.2 - 8 m/s range, down to about 0.2-0.5%. In the coming weeks we have planned testing at an external facility to verify these results.
		</p>
	  		<img src="img/flow_rig/rig_1.jpg" style="max-width:96%" align="left"> 
			<div style="clear: both"></div>
			<br>
	  		<img src="img/flow_rig/rig_2.jpg" style="max-width:96%" align="left"> 
			<div style="clear: both"></div>
			<br>
	  		<img src="img/flow_rig/rig_3.jpg" style="max-width:96%" align="left"> 
			<div style="clear: both"></div>

        </div>
	    </div>
			<br>

	    <div class="container">
        <h1 class="title">12/06/22: Development done!</h1>
        <div class="content is-medium">
       	<p> 
       		We are happy to announce that our water meter development has concluded.
       		We will now be focusing on bringing this tecnology to market.
		</p>
	  	<p>
	  		Finally, some photos of the latest prototype.
	    </p>
	  		<img src="img/meter_photos/1106_1.jpg" style="max-width:48%" align="left"> 
			<img src="img/meter_photos/1106_2.jpg" style="max-width:48%" align="right">
			<div style="clear: both"></div>
	  		<img src="img/meter_photos/1106_3.jpg" style="max-width:48%" align="left"> 
			<img src="img/meter_photos/1106_4.jpg" style="max-width:48%" align="right">
			<div style="clear: both"></div>

        </div>
	    </div>
			<br>

	    <div class="container">
        <h1 class="title">16/03/22: More water meter sizes, pressure ratings and lid demo</h1>
        <div class="content is-medium">
       	<p> 
       		When calculating the minimum wall thickness for a plastic pipe a safety factor of around 3 is usually used at the operating pressure. We have done static pressure simulations to determine what is the maximum size of meter we can go up to at 16 bar.<br>
       		And that is 100mm! In fact, our current 50mm prototype is about 2 times stronger than it needs to be. Which makes sense, our wall thickness is 4.5mm, the plastic is about two times stronger than regular pipe PVC, and PN16 PVC pipes are typically 3.7mm thick.<br>
       		Moreover, larger meters will be more accurate as lower flows (in terms of m/s) and allow two ultrasonic paths to be used in order to maintain accuracy at high flows. So ultimately a higher turndown ratio can be achieved.
		</p>
	  	<p>
	  		Secondly, here are some photos of our latest prototype with a nice transparent lid prototype.
	  	</p>
	  		<img src="img/meter_photos/transparent_lid_1.jpeg" style="max-width:48%" align="left"> 
			<img src="img/meter_photos/Transparent_lid_2.jpeg" style="max-width:48%" align="right">
			<div style="clear: both"></div>


        </div>
	    </div>
			<br>


<div class="buttons has-addons is-centered">
  <button class="button is-success is-selected">1</button>
  <button class="button" href=/news_page2 data-navigo>2</button>
</div>