<style>
table	{
	  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<section class="section">


	    <div class="container">
        <h1 class="title">DN50 Intsonic water meter</h1>
        <div class="content is-medium">
       	<p>
       		This is our first fully independently developed product. Some of the key features include minimal flow interference with only one material in contact with water, compact size (only 170mm long), Q<sub>3</sub>=40m<sup>3</sup>/h and smart meter capabilities. Two versions are available, Minimal and Full, which also includes a display and button interface.
			<details>
			<summary>Click here for a full list of features.</summary>
			 <ul>
				 	<li>Total meter length of 170mm, with 15mm long ISO 228 G 2 1/2  "  threads – for use with standard union connectors. Because of the small length a small section of the pipe needs to be removed to allow for the installation.</li>
					<li>We have designed our meter for maximum reliability, safety and installation flexibility. As you can see on the photo, there is only one material in contact with water (which is already WRAS-approved) and the geometry ensures minimal pressure drop and flow disturbance.</li>
					<li>Q<sub>3</sub> of 40 m<sup>3</sup>/h with a turndown ratio of 200 or better – <b>to be confirmed after calibration.</b>	</li>
					<li>0-50<sup>o</sup>C nominal operating range. Enquire for applications up to 95<sup>o</sup>C.
					<li>Waterproof design. All critical components are encapsulated so the meter can be submerged. </li>
					<li>Real-time clock.</li>
					<li>Battery powered by a single C-type cell. Preliminary testing indicates a battery life >20 years.</li>
					<li>A connector incorporating pulsed output and RS485. </li>
					<li>Dry pulsed output with a user-set pulse value, up to 100V. </li>
					<li>RS485 serial communication with our own simple protocol to interface with the meter. </li>
					<li>Logging with a user set interval.</li>
					<li>Alarms and error reporting: 
						<ul>
							<li>Empty pipe detection.</li>
							<li>Air bubbles or solid particle detection.</li>
							<li>Flooding detection – the meter can detect if it is underwater. </li>
							<li>Overload flow detection. </li>
							<li>Reverse flow detection. The meter will record the reverse flow and volume values. </li>
							<li>Liquid temperature monitoring and overheating. </li>
							<li>Low battery. </li>
						</ul>
						Each of these can be set to trigger an alarm, which will be recorded in the log and reported over serial.
					</li>
					<li>LCD with a single button interface. We are implementing a menu to simplify the meter installation. For example, a pulse value for the pulsed output can be selected out of a list of standard values (1/10/100 litres). 
						<br>After the meter installation is complete, this can be disabled and the button can only be used to cycle through volume, flow rate, time and date. Backlight on button press can be enabled to make it easier to take readings in places with poor lighting conditions. </li>
					<li>Each meter will have a unique identifier and password, as well as a user-set tag. This will allow several meters to be connected to the same bus and the settings to be locked to prevent unauthorised access. </li>
			</ul>
			The user manual can be found <a href="files/Intsonic_user_manual_v1.2.pdf">here</a>.
			</details>
   		</p>
       		<table>
			  <tr>
			    <th>Quantity</th>
			    <th>Unit price, Full</th>
			    <th>Unit price, Minimal</th>
			  </tr>
			  <tr>
			    <td>1</td>
			    <td>£280</td>
			    <td>£220</td>
			  </tr>
			  <tr>
			    <td>10</td>
			    <td>£260</td>
			    <td>£205</td>
			  </tr>
			  <tr>
			    <td>25</td>
			    <td>£250</td>
			    <td>£195</td>
			  </tr>
			  <tr>
			    <td>100</td>
			    <td>£220</td>
			    <td>£170</td>
			  </tr>
			</table>
				 	</p>
			        </div>
			    </div>
			<br>
			Please enquire for quantities over 100 and lead times. There are still pro bono samples available for evaluation.

        </div>
    </div>