<style>
table	{
	  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<section class="section">

  <div class="container">
	  <h1 class="title">Intsonic "UUMM" board</h1>
	  <div class="content is-medium">
	  <p>
	  	A compact, low-power measurement platform for differential transit time or general purpose ultrasonic measurements. 
	  	<br>
	  	Runs from 3.5-5V and is primarily intended for battery-powered applications. It can handle up transducers up to 1.5MHz with total insertion loss of up to -60db. The zero-flow drift is generally in the 25-150ps range for liquid-coupled applications, depending on the frequency and total inserion loss. The current version of the board supports multiplexing up to 16 transducers in pitch-catch and pulse-echo configurations. The data is transmitted via a serial connection (RS232/RS485 by default). Configuration is done using the same serial interface, with great flexibility. Powerful cross-correlation based algorithms are performed on the board with plenty of diagnostics data being generated. We are also working on a high-voltage version.
		</p>
	</div>

  <div class="container">
	  <h1 class="title">Intsonic plastic liquid meter (patent pending)</h1>
	  <div class="content is-medium">
			<p>

<img src="img/meter_photos/back_view4.jpg" style="max-width:48%" align="left">
<img src="img/meter_photos/front_view.jpg" style="max-width:48%" align="right">

<div style="clear: both"></div>
     		Technology developed by us with the intention of reducing complexity of small-size ultrasonic liquid meters while retaining exceptional accuracy.
     		It allows us to tailor a meter for any application or market, be it minimal pressure loss or high accuracy.
     		<br> Please check the <a href=/news data-navigo>News</a> section to see the latest updates.
     	</p>
     	<p>
	      The commercialisation is currently on pause before the patent is granted. We are also looking for partners with access to a market which could benefit from a low-cost plastic ultrasonic flow measurement device.
			</p>
		</div>
  
  <div class="container">
    <h1 class="title">G1.6 - G6 Domestic gas meters</h1>
    <div class="content is-medium">
	   	<p>
	     	Coming soon!
	    </p>
	</div>
</div>
