<style>
table	{
	  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<section class="section">


	    <div class="container">
        <h1 class="title">DN50 Intsonic water meter</h1>
        <div class="content is-medium">
       	<p>

<!--	<img src="img/meter_photos/through_view.jpg" style="max-width:48%" align="left">
<img src="img/meter_photos/front_view.jpg" style="max-width:48%" align="right">				-->

<img src="img/meter_photos/back_view.jpg" style="max-width:48%" align="left">
<img src="img/meter_photos/front_view.jpg" style="max-width:48%" align="right">


<div style="clear: both"></div>

       		Key features include minimal flow interference with only one material in contact with water, compact size (only 170mm long), Q<sub>3</sub>=40m<sup>3</sup>/h and smart meter capabilities.
       	</p>
       		<label class="label">The less technical section.</label>
       		<div class="box">
       		<p>
       		 Water meters are devices that calculate the volume of water that has moved through a pipe. "Inline" means that a meter is installed in line with the pipe, i.e. a section of a pipe is typically cut and replaced with a meter. DN50 refers to the pipe diameter -- 50mm. Residential water meters are typically DN15-DN25 and the larger meters are usually used in commercial, light industrial and agricultural applications, as well as in the process industry.	
					</p>
       		<p>
       		Our meters can measure the flow of pretty much any kind of water, as long as the pipe is full. Air bubbles and solid particles interfere with the measurments and can be detected by the meter. Still if their quantity is not too high the measurement can still be performed.
       		</p> 
       		<p> Some of the most popular DN15-DN50 water meters till date are rotary, single- and multi-jet mechanical water meters. However they do come with the disadvantages of having moving parts -- they are prone to wear (especially if the water in not very clean) and their measurement performance often degrades with time. 
       		<br> Ultrasonic meters do not have moving parts but are usually significantly more expensive than the mechanical ones. This is something we tried to address with our meter.
       		</div>
       	</p>
       	<p>
			A full list of features below:
			 <ul>
			 	<li>Total meter length of 170mm, with 15mm long ISO 228 G 2 1/2  "  threads – for use with standard union connectors. Because of the small length a small section of the pipe needs to be removed to allow for the installation.</li>
				<li>We have designed our meter for maximum reliability, safety and installation flexibility. As you can see on the photo, there is only one material in contact with water (which is already WRAS-approved) and the geometry ensures minimal pressure drop and flow disturbance.</li>
				<li>Q<sub>3</sub> of 40 m<sup>3</sup>/h with a turndown ratio of 200 or better – <b>to be confirmed after calibration.</b>	</li>
				<li>0-50<sup>o</sup>C nominal operating range. Enquire for applications up to 95<sup>o</sup>C.
				<li>Waterproof design. All critical components are encapsulated so the meter can be submerged. </li>
				<li>Real-time clock.</li>
				<li>Battery powered by a single C-type cell. Preliminary testing indicates a battery life >20 years.</li>
				<li>A connector incorporating pulsed output and RS485. </li>
				<li>Dry pulsed output with a user-set pulse value, up to 100V. </li>
				<li>RS485 serial communication with our own simple protocol to interface with the meter. </li>
				<li>Logging with a user set interval.</li>
				<li>Alarms and error reporting: 
					<ul>
						<li>Empty pipe detection.</li>
						<li>Air bubbles or solid particle detection.</li>
						<li>Flooding detection – the meter can detect if it is underwater. </li>
						<li>Overload flow detection. </li>
						<li>Reverse flow detection. The meter will record the reverse flow and volume values. </li>
						<li>Liquid temperature monitoring and overheating. </li>
						<li>Low battery. </li>
					</ul>
					Each of these can be set to trigger an alarm, which will be recorded in the log and reported over serial.
				</li>
				<li>LCD with a single button interface. We are implementing a menu to simplify the meter installation. For example, a pulse value for the pulsed output can be selected out of a list of standard values (1/10/100 litres). 
					<br>After the meter installation is complete, this can be disabled and the button can only be used to cycle through volume, flow rate, time and date. Backlight on button press can be enabled to make it easier to take readings in places with poor lighting conditions. </li>
				<li>Each meter will have a unique identifier and password, as well as a user-set tag. This will allow several meters to be connected to the same bus and the settings to be locked to prevent unauthorised access. </li>
		</ul>
		The user manual can be found <a href="files/Intsonic_user_manual_v1.2.pdf">here</a>.
   		Two versions are available:
   		<ul>
   		<li> Full – includes all the above features. </li>
   		<li> Minimal – does not have the display and button interface. </li>
   		</ul>

   		<img src="img/meter_photos/lid_nolid.jpg" style="max-width:48%" align="left">
			<img src="img/meter_photos/through_view.jpg" style="max-width:48%" align="right">

   		</p>
       		<table>
			  <tr>
			    <th>Quantity</th>
			    <th>Unit price, Full</th>
			    <th>Unit price, Minimal</th>
			  </tr>
			  <tr>
			    <td>1</td>
			    <td>£280</td>
			    <td>£220</td>
			  </tr>
			  <tr>
			    <td>10</td>
			    <td>£260</td>
			    <td>£205</td>
			  </tr>
			  <tr>
			    <td>25</td>
			    <td>£250</td>
			    <td>£195</td>
			  </tr>
			  <tr>
			    <td>100</td>
			    <td>£220</td>
			    <td>£170</td>
			  </tr>
			</table>
				Please enquire for quantities over 100 and lead times. There are still free samples available for evaluation.
		</p>
	</div>

    <div class="container">
        <h1 class="title">DN25, DN32 and DN40 water meter variants</h1>
        <div class="content is-medium">
       	<p>
       	Our DN50 meter design can be scaled down quite easily. We are planning to work on them after the DN50 has been released. Here are some prototype photos:
        </p>
        
       	<img src="img/meter_photos/sizes_3.jpg" style="max-width:48%" align="left">
			 	<img src="img/meter_photos/sizes_through.jpg" style="max-width:48%" align="right">
			 	<div style="clear: both"></div>
</div>
</div>


    <div class="container">
        <h1 class="title">G1.6 - G6 Domestic gas meters</h1>
        <div class="content is-medium">
       	<p>
       	Coming soon!
       </p>
</div>
</div>
