<section class="section">
    <div class="content container is-medium">

        Please visit the <a href="/news">news</a> section for more information on the projects currently in progress!
        <br>

        <p>
            Some other projects that we have worked on in the past include:
        <ul>
            <li> a domestic ultrasonic gas meter</li>
            <li> an ultrasonic air flow evaluation module that we have developed for the Birmingham City University to demonstrate one of the uses of ultrasound in biomedical engineering</li>
        </ul>
        </p>

        <img src="img/meter1.png" style="max-height:100%; max-width:48%" align="left"> 
        <img src="img/meter2.jpg" style="max-height:100%; max-width:48%" align="right">

        <div style="clear: both"></div>

        <img src="img/BCU_flowcell.jpg" style="max-height:100%; max-width:48%" align="left"> 
        <img src="img/BCU_flowcells.jpg" style="max-height:100%; max-width:48%" align="right">
        <div style="clear: both"></div>

    </div>
</section>