<section class="section">
    <div class="content container is-medium">
        <p>
            Our largest and longest project so far has been the development of a domestic ultrasonic gas meter.
            For it, we have worked on the transducer design, the internal components design, electronics components
            evaluation and programming. As a result, we have produced a fully functional meter prototype that is
            currently
            undergoing testing.&nbsp;
        </p>

        <img src="img/meter1.png" style="max-height:100%; max-width:48%" align="left"> <img src="img/meter2.jpg"
            style="max-height:100%; max-width:48%" align="right">

        <div style="clear: both"></div>

        <p>
            Working with Birmingham City University, we have developed an ultrasonic air flow evaluation module that
            will be
            used to demonstrate one of the uses of ultrasound in biomedical engineering.&nbsp;
        </p>

        <img src="img/BCU_flowcell.jpg" style="max-height:100%; max-width:48%" align="left"> <img
            src="img/BCU_flowcells.jpg" style="max-height:100%; max-width:48%" align="right">


        <div style="clear: both"></div>

        <p>
            We are also currently developing a water and heat meter. At the moment we are testing DN50 prototypes.
        </p>

        <img src="img/DN50_prot.jpg" style="max-height:100%; max-width:48%" align="left">
        <div style="clear: both"></div>

    </div>
</section>